APP_PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

# cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET=

# rate limiting
RATE_LIMIT_REGISTER=5
RATE_LIMIT_LOGIN=10
RATE_LIMIT_CHECKOUT=5
RATE_LIMIT_UPLOAD=10
RATE_LIMIT_ADMIN=30
RATE_LIMIT_BURST=2