# =========================================================
# ENV
# =========================================================

.env


# =========================================================
# AIR
# =========================================================

tmp/
.air.toml


# =========================================================
# BINARY
# =========================================================

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
main


# =========================================================
# BUILD
# =========================================================

dist/
build/


# =========================================================
# LOGS
# =========================================================

*.log


# =========================================================
# IDE
# =========================================================

.vscode/
.idea/


# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db


# =========================================================
# COVERAGE
# =========================================================

coverage.out


# =========================================================
# VENDOR (optional)
# =========================================================

vendor/